@import "./../../../../../../../styles/global";

:host {
    display: flex;
    flex-direction: column;

    .tableBodyRow {
        display: flex;
        flex-direction: row;
        padding: 0 $spacing / 2;
        width: calc(100% - #{$spacing});

        background: $theme_dominant_color;
        border-bottom: 1px solid $tdc_accent;

        &:first-child {
            border-top: 1px solid $tdc_accent;
        }

        &:nth-child(2n) {
            background: lighten($theme_dominant_color, 5%);
        }
    }

    BodyTd {
        margin-left: $spacing / 2;
        flex-basis: 100%;

        &:first-child {
            margin:0;
        }
    }

    .htd-col {
        flex-basis: 100%;
    }

    .htd-col-2 {
        flex-basis: 50%;
    }

    .htd-col-3 {
        flex-basis: 33.3%;
    }

    .htd-col-4 {
        flex-basis: 25%;
    }

}
