<div class="text">
    <div class="textContainer">
        <h1>{{ 'Contribute.Project.title' | translate }}</h1>
        <iframe src="https://www.youtube.com/embed/xMIu30afqR0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <p>{{ 'Contribute.Project.description' | translate }}</p>
        <ul>
            <li>{{ 'Contribute.Project.advantages.0' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages.1' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages.2' | translate }}</li>
        </ul>
        <p>{{ 'Contribute.Project.whyLp' | translate }}</p>
        <ul>
            <li>{{ 'Contribute.Project.advantages2.0' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.1' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.2' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.3' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.4' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.5' | translate }}</li>
        </ul>
        <p>{{ 'Contribute.Project.disadvantages' | translate }}</p>
        <p>{{ 'Contribute.Project.contact' | translate }}</p>
        <h1>{{ 'Contribute.Individual.title' | translate }}</h1>
        <p>{{ 'Contribute.Individual.description' | translate }}</p>
        <p>{{ 'Contribute.Individual.description2' | translate }}</p>
        <p>{{ 'Contribute.Individual.description3' | translate }}</p>
        <p>{{ 'Contribute.Individual.description4' | translate }}</p>
    </div>
</div>
