<div class="text">
    <div class="textContainer">
        <h1>{{ 'Contribute.Individual.title' | translate }}</h1>
        <p>{{ 'Contribute.Individual.description' | translate }}</p>
        <p>{{ 'Contribute.Individual.description2' | translate }}</p>
        <p>{{ 'Contribute.Individual.description3' | translate }}</p>
        <p>{{ 'Contribute.Individual.description4' | translate }}</p>
        <p>{{ 'Contribute.Individual.description5' | translate }}</p>
        <p>
            <a href="https://legacyplayers.com/AdvancedVanillaCombatLog.zip" target="_blank" rel="noopener">Download AdvancedVanillaCombatLog.zip</a><br />
            <a href="https://legacyplayers.com/AdvancedVanillaCombatLog_Helper.zip" target="_blank" rel="noopener">Download AdvancedVanillaCombatLog_Helper.zip</a><br />
            <a href="https://legacyplayers.com/AdvancedTBCCombatLog.zip" target="_blank" rel="noopener">Download AdvancedTBCCombatLog.zip</a><br />
            <a href="https://legacyplayers.com/AdvancedTBCCombatLog_Helper.zip" target="_blank" rel="noopener">Download AdvancedTBCCombatLog_Helper.zip</a><br />
            <a href="https://legacyplayers.com/AdvancedWotLKCombatLog.zip" target="_blank" rel="noopener">Download AdvancedWotLKCombatLog.zip</a><br />
            <a href="https://legacyplayers.com/AdvancedWotLKCombatLog_Helper.zip" target="_blank" rel="noopener">Download AdvancedWotLKCombatLog_Helper.zip</a><br />
        </p>
        <h1>{{ 'Contribute.Guide.title' | translate }}</h1>
        <p>{{ 'Contribute.Guide.step1' | translate }}</p>
        <p>{{ 'Contribute.Guide.step2' | translate }}</p>
        <p>{{ 'Contribute.Guide.step3' | translate }}</p>
        <p>{{ 'Contribute.Guide.step4' | translate }}</p>
        <p>{{ 'Contribute.Guide.step5' | translate }}</p>
        <p>{{ 'Contribute.Guide.step6' | translate }}</p>
        <p>{{ 'Contribute.Guide.step7' | translate }}</p>
        <p>{{ 'Contribute.Guide.step8' | translate }}<a href="/contribute/upload">(Click)</a></p>
        <p>{{ 'Contribute.Guide.step9' | translate }}</p>
        <p>{{ 'Contribute.Guide.step10' | translate }}</p>

        <!--
        <h1>{{ 'Contribute.Project.title' | translate }}</h1>
        <iframe src="https://www.youtube.com/embed/xMIu30afqR0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <p>{{ 'Contribute.Project.description' | translate }}</p>
        <ul>
            <li>{{ 'Contribute.Project.advantages.0' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages.1' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages.2' | translate }}</li>
        </ul>
        <p>{{ 'Contribute.Project.whyLp' | translate }}</p>
        <ul>
            <li>{{ 'Contribute.Project.advantages2.0' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.1' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.2' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.3' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.4' | translate }}</li>
            <li>{{ 'Contribute.Project.advantages2.5' | translate }}</li>
        </ul>
        <p>{{ 'Contribute.Project.disadvantages' | translate }}</p>
        <p>{{ 'Contribute.Project.contact' | translate }}</p>
        -->
    </div>
</div>
