<div class="text">
    <div class="textContainer">
        <h1>{{ 'Contribute.Individual.title' | translate }}</h1>
        <p>{{ 'Contribute.Individual.description' | translate }}</p>
        <p>{{ 'Contribute.Individual.description2' | translate }}</p>
        <p>{{ 'Contribute.Individual.description3' | translate }}</p>
        <p>{{ 'Contribute.Individual.description4' | translate }}</p>
        <p>{{ 'Contribute.Individual.description5' | translate }}</p>
        <p>
            <a href="static/Addons/AdvancedWotLKCombatLog.zip" target="_blank" rel="noopener">Download AdvancedWotLKCombatLog.zip</a><br />
            <a href="static/Addons/AdvancedWotLKCombatLog_Helper.zip" target="_blank" rel="noopener">Download AdvancedWotLKCombatLog_Helper.zip</a><br />
        </p>
        <h1>{{ 'Contribute.Guide.title' | translate }}</h1>
        <p>{{ 'Contribute.Guide.step1' | translate }}</p>
        <p>{{ 'Contribute.Guide.step2' | translate }}</p>
        <p>{{ 'Contribute.Guide.step3' | translate }}</p>
        <p>{{ 'Contribute.Guide.step4' | translate }}</p>
        <p>{{ 'Contribute.Guide.step5' | translate }}</p>
        <p>{{ 'Contribute.Guide.step6' | translate }}</p>
        <p>{{ 'Contribute.Guide.step7' | translate }}</p>
        <p>{{ 'Contribute.Guide.step8' | translate }}<a href="/contribute/upload">(Click)</a></p>
        <p>{{ 'Contribute.Guide.step9' | translate }}</p>
        <p>{{ 'Contribute.Guide.step10' | translate }}</p>
    </div>
</div>
