<div id="listContainer">
    <div class="fb_infoList">
        <div class="fb_il_title">{{ "FooterBar.niceToKnow.title" | translate }}</div>
        <ul>
            <li><a href="/API/" rel="noopener" target="_blank">{{ "FooterBar.niceToKnow.restApi" | translate }}</a></li>
            <li><a href="https://github.com/{{githubLink}}" rel="noopener"
                   target="_blank">{{ "FooterBar.niceToKnow.github" | translate }}</a></li>
            <li><a href="/grafana/" rel="noopener" target="_blank">{{ "FooterBar.niceToKnow.grafana" | translate }}</a></li>
        </ul>
    </div>

    <div class="fb_infoList">
        <div class="fb_il_title">{{ "FooterBar.needHelp.title" | translate }}</div>
        <ul>
            <!--<li><a (click)="show_consent()">{{ "FooterBar.needHelp.changeConsent" | translate }}</a></li>-->
            <li><a routerLink="/privacy">{{ "FooterBar.needHelp.privacy" | translate }}</a></li>
            <li><a routerLink="/imprint">{{ "FooterBar.needHelp.imprint" | translate }}</a></li>
        </ul>
    </div>

    <div class="fb_infoList">
        <div class="fb_il_title">{{ "FooterBar.connect.title" | translate }}</div>
        <ul>
            <li><a href="https://discord.gg/{{discordLink}}" rel="noopener" target="_blank">{{ "FooterBar.connect.discord" | translate }}</a></li>
            <li><a href="https://github.com/{{githubLink}}/issues/new?template=bug_report.md&labels=bug" rel="noopener" target="_blank">{{ "FooterBar.connect.report_issue" | translate }}</a></li>
            <li><a href="https://github.com/{{githubLink}}/issues/new?template=feature_request.md&labels=enhancement" rel="noopener" target="_blank">{{ "FooterBar.connect.report_feature" | translate }}</a></li>
        </ul>
    </div>
</div>

<div id="copyright">{{ "FooterBar.copyright" | translate:copyRightArguments }}</div>
