<div class="container">
    <div class="title_bar">
        <SelectInput [value]="current_selection" (valueChange)="selection_changed($event)"
                     [options]="options" [themed]="true"></SelectInput>
        <div class="total_and_dps">
            {{total}}
            <ng-container *ngIf="show_per_second">
                ({{total_ps.toFixed(1)}}/s)
            </ng-container>
        </div>
    </div>
    <MeterGraph *ngIf="!in_ability_mode || ![11, 12, 13, 14, 15, 16].includes(current_selection)"
                [bars]="bars"
                [per_second_duration]="current_attempt_duration"
                [bar_subjects]="bar_subjects"
                [bar_tooltips]="bar_tooltips"
                [show_per_second]="show_per_second"
                (bar_clicked)="bar_clicked($event)">
    </MeterGraph>
    <DeathsOverview *ngIf="[11, 12].includes(current_selection) && in_ability_mode" [death_overview_rows]="bars"
                    [server_id]="this.current_meta?.server_id" [to_actor]="this.current_selection === 11"
                    [bar_tooltips]="bar_tooltips">
    </DeathsOverview>
    <UnAuraOverview *ngIf="[13, 14, 15, 16].includes(current_selection) && in_ability_mode"
                    [un_aura_overview_rows]="bars" [abilities]="abilities" [units]="units">
    </UnAuraOverview>
</div>
