@import "../../../../../../styles/global";

:host {
    display: block;
    position: relative;

    svg {
        position: absolute;
        height: 28px;
        width: 28px;
        right: 8px;
        top: 23px;
        z-index: 2;
        cursor: pointer;

        path {
            fill: #000;
        }
    }

    ::ng-deep GeneralInput input {
        padding-right: $spacing * 3;
        width: calc(100% - #{$spacing} * 3.5);
    }
}

