<div class="tt_row">
    <span class="hero_class_{{ payload.hero_class_id }}">
        <img src="/assets/wow_hero_classes/c{{payload.hero_class_id}}.png" />
        {{ payload.name + ', ' }}
    </span>
    <span *ngIf="payload.guild" [class.faction_0]="!payload.faction" [class.faction_1]="payload.faction">{{ 'Tooltip.CharacterTooltip.guild' | translate: { name: payload.name, guild: payload.guild.name, rank: payload.guild.rank } }}</span>
</div>
<div class="tt_row expansion_{{ payload.expansion_id }}"> {{ payload.server }} </div>
