@import "src/styles/global";

:host {
    span:first-child, span:nth-child(2), span:nth-child(3) {
        font-size: 18px;
    }

    .tt_item {
        span {
            font-size: 14px !important;
        }
    }
}
