<div [class.number]="specification.type == 1">
    <HeroClass  *ngIf="specification.sub_type === 1" [hero_class_id]="specification.content" [hero_class_label]="bodyContentToString()"></HeroClass>
    <a *ngIf="specification.sub_type === 2" [showTooltip]="{ type: 1, character_id: specification.sub_type_args.character_id }" routerLink="/armory/character/{{ specification.sub_type_args.server_name + '/' + specification.content }}">
        {{ bodyContentToString() | translate }}
    </a>
    <ng-container *ngIf="!specification.sub_type">
        {{ bodyContentToString() | translate }}
    </ng-container>
</div>
