@import "src/styles/units";

:host {
    h1 {
        font-size: 30px;
    }
}

RecentRaids, GuildRoster, SpeedKills {
    float: left;
}

RecentRaids {
    width: 33%;
    margin-right: 0.5 * $spacing;
}

GuildRoster {
    width: calc(67% - #{$spacing} * 0.5);
}

SpeedKills {
    margin-top: 0.5 * $spacing;
    width: 50%;
}

@media (max-width: 1000px) {
    RecentRaids, GuildRoster, SpeedKills {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }

    RecentRaids, GuildRoster {
        margin-bottom: $spacing * 0.5;
    }
}
