@import "src/styles/global";
@import "src/styles/buttons";
@import "src/styles/colors";

:host {
    display: inline-block;
    width: 100%;
    min-height: 0;
}

.left_nav_bar {
    position: absolute;
    left: 0;
}

.container {
    display: inline-block;
    width: calc(100% - #{$spacing} - 2px);
    min-height: 0;
    background: $tdc_darker;
    border: 1px solid $tdc_accent;
    border-radius: 3px 3px 3px 3px;

    padding: 0.5 * $spacing 0.5 * $spacing;

    MultiSelect {
        width: calc(20% - (2/5) * #{$spacing});
        margin-right: 0.5 * $spacing;
        float: left;

        &:last-child {
            margin-right: 0;
        }
    }
}

.active {
    background: lighten($tdc_darker, 3%);
    span {
        color: $highlight;
    }
}

.menu_button {
    position: absolute;
    right: -41px;

    span {
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: 900;
        text-orientation: mixed;
        writing-mode: vertical-rl;
    }

    width: 40px;
    background: $tdc_darker;
    border: 1px solid $tdc_accent;
    border-left: none;
    z-index: 5;
    opacity: 0.5;

    $offset: -60px - $spacing;
    &.base {
        height: 70px;
        top: $offset;
    }

    &.ability {
        height: 95px;
        top: $offset + 70px + 0.5 * $spacing;
    }

    &.detail {
        height: 85px;
        top: $offset + 165px + $spacing;
    }

    &.event_log {
        height: 55px;
        top: $offset + 1.5 * $spacing + 250px;
    }

    &:hover {
        @extend .active;
    }
}

.replay_btn {
    width: 100%;
    margin-top: $spacing;
}
