<div id="listContainer">
    <div class="fb_infoList">
        <div class="fb_il_title">{{ "FooterBar.niceToKnow.title" | translate }}</div>
        <ul>
            <li><a href="{{legacyplayersLink}}" target="_blank">{{ "FooterBar.niceToKnow.legacyplayers" | translate }}</a></li>
            <li><a href="https://github.com/{{githubLink}}" rel="noopener"
                   target="_blank">{{ "FooterBar.niceToKnow.github" | translate }}</a></li>
        </ul>
    </div>
</div>

<div id="copyright">{{ "FooterBar.copyright" | translate:copyRightArguments }}</div>
