<Table [bodyRows]="current_addons" [headColumns]="header_columns" [clientSide]="clientSide"
       [responsiveHeadColumns]="responsiveHeadColumns" [responsiveModeWidthInPx]="responsiveModeWidthInPx"
       [numItems]="total_num" unique_id="addon_search" (share)="tinyUrlService.set_table_filter(2, $event)"
       [et_row_items]="[addon_name, undefined, undefined]">
</Table>

<ng-template #addon_name let-specification="specification" let-content="content">
    <a href="https://legacayplayers.com/Addons/{{expansions.get(specification.args.expansion_id)}}/{{specification.args.url_name}}.zip">{{ content }}</a>
</ng-template>
