<div class="cr_bg faction_{{ character.last_update.character_info.faction ? 1 : 0 }}"></div>
<div class="cr_name">
    <Icon iconPath="/assets/wow_race_gender/rg{{ character.last_update.character_info.race_id }}-{{ character.last_update.character_info.gender ? 1 : 0 }}.png" [size]="32"></Icon>
    <Icon iconPath="/assets/wow_hero_classes/c{{ character.last_update.character_info.hero_class_id }}.png" [size]="32"></Icon>
    <span>{{ character.last_update.character_name }}</span>
    <span>{{ character.last_update.character_info.level }}</span>

    <SelectInput></SelectInput>
</div>
<div class="cr_guild" *ngIf="character.last_update.character_guild">
    {{ 'Armory.Viewer.guild' | translate: { rank: character.last_update.character_guild.rank, guild: character.last_update.character_guild.guild_id } }}
</div>
<div class="cr_row">
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
</div>
<div class="cr_row">
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
</div>
<div class="cr_row">
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
</div>
<div class="cr_row">
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
</div>
<div class="cr_row">
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
</div>
<div class="cr_row">
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
</div>
<div class="cr_row">
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
</div>
<div class="cr_row">
    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>

    <div class="cr_weapon_row">
        <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
        <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
        <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
    </div>

    <ItemIcon [size]="48" [iconPath]="'/assets/wow_icon/spell_nature_polymorph_cow.jpg'" [item_id]="29242" [gear_id]="26" [quality]="5"></ItemIcon>
</div>
