<div class="container">
    <div class="header">
        <div class="td">Type</div>
        <div class="td">Count</div>
        <div class="td">%</div>
        <div class="td">Amount</div>
        <div class="td">%</div>
        <div class="td">Min</div>
        <div class="td">Max</div>
        <div class="td">Average</div>
    </div>
    <div class="body">
        <div class="row">
            <div class="td">0%</div>
            <div class="td">{{resist_summary.percent_0.count}}</div>
            <div class="td">{{resist_summary.percent_0.count_percent.toFixed(1)}}</div>
            <div class="td">{{resist_summary.percent_0.amount}}</div>
            <div class="td">{{resist_summary.percent_0.amount_percent.toFixed(1)}}</div>
            <div class="td">{{resist_summary.percent_0.min}}</div>
            <div class="td">{{resist_summary.percent_0.max}}</div>
            <div class="td">{{resist_summary.percent_0.average.toFixed(1)}}</div>
        </div>
        <div class="row">
            <div class="td">25%</div>
            <div class="td">{{resist_summary.percent_25.count}}</div>
            <div class="td">{{resist_summary.percent_25.count_percent.toFixed(1)}}</div>
            <div class="td">{{resist_summary.percent_25.amount}}</div>
            <div class="td">{{resist_summary.percent_25.amount_percent.toFixed(1)}}</div>
            <div class="td">{{resist_summary.percent_25.min}}</div>
            <div class="td">{{resist_summary.percent_25.max}}</div>
            <div class="td">{{resist_summary.percent_25.average.toFixed(1)}}</div>
        </div>
        <div class="row">
            <div class="td">50%</div>
            <div class="td">{{resist_summary.percent_50.count}}</div>
            <div class="td">{{resist_summary.percent_50.count_percent.toFixed(1)}}</div>
            <div class="td">{{resist_summary.percent_50.amount}}</div>
            <div class="td">{{resist_summary.percent_50.amount_percent.toFixed(1)}}</div>
            <div class="td">{{resist_summary.percent_50.min}}</div>
            <div class="td">{{resist_summary.percent_50.max}}</div>
            <div class="td">{{resist_summary.percent_50.average.toFixed(1)}}</div>
        </div>
        <div class="row">
            <div class="td">75%</div>
            <div class="td">{{resist_summary.percent_75.count}}</div>
            <div class="td">{{resist_summary.percent_75.count_percent.toFixed(1)}}</div>
            <div class="td">{{resist_summary.percent_75.amount}}</div>
            <div class="td">{{resist_summary.percent_75.amount_percent.toFixed(1)}}</div>
            <div class="td">{{resist_summary.percent_75.min}}</div>
            <div class="td">{{resist_summary.percent_75.max}}</div>
            <div class="td">{{resist_summary.percent_75.average.toFixed(1)}}</div>
        </div>
    </div>
</div>
