<div *ngIf="iconPath" class="tt_icon">
    <img [src]="iconPath"/>
</div>
<CharacterTooltip [payload]="tooltipPayload" *ngIf="tooltipType === 1"></CharacterTooltip>
<ItemTooltip [payload]="tooltipPayload" *ngIf="tooltipType === 2 || tooltipType === 4"></ItemTooltip>
<GuildTooltip [payload]="tooltipPayload" *ngIf="tooltipType === 3"></GuildTooltip>
<MeterAbilitiesTooltip [payload]="tooltipPayload()" [target_summary]="tooltipArgs.target_summary()" *ngIf="tooltipType === 5"></MeterAbilitiesTooltip>
<DetailTable [current_ability_details]="tooltipPayload()" *ngIf="tooltipType === 6"></DetailTable>
<DeathsOverview [death_overview_rows]="tooltipPayload()" *ngIf="tooltipType === 7"
                [abilities]="tooltipArgs.abilities" [units]="tooltipArgs.units"></DeathsOverview>
<ViewerEventLogTooltip [payload]="tooltipPayload" *ngIf="tooltipType === 8"></ViewerEventLogTooltip>
<UnAuraOverview [un_aura_overview_rows]="tooltipPayload()"
                *ngIf="tooltipType === 9 || tooltipType === 12 || tooltipType === 13"
                [abilities]="tooltipArgs.abilities" [units]="tooltipArgs.units"></UnAuraOverview>
<ViewerGraphTooltip [payload]="tooltipPayload" *ngIf="tooltipType === 10"></ViewerGraphTooltip>
<ResistSummary [resist_summary]="tooltipPayload" *ngIf="tooltipType === 11"></ResistSummary>
<SpellTooltip [spell_tooltip]="tooltipPayload" *ngIf="tooltipType === 14"></SpellTooltip>
<ViewerAuraGainTooltip [abilities$]="tooltipArgs.abilities" [units$]="tooltipArgs.units" [payload]="tooltipPayload()"
                       *ngIf="tooltipType === 15"></ViewerAuraGainTooltip>
<TalentSpellTooltip [payload]="tooltipPayload" *ngIf="tooltipType === 16"></TalentSpellTooltip>
<AuraMeterAbilitiesTooltip [payload]="tooltipPayload()" *ngIf="tooltipType === 17"></AuraMeterAbilitiesTooltip>
<RankingMeterTooltip [payload]="tooltipArgs" *ngIf="tooltipType === 18"></RankingMeterTooltip>
<ng-container *ngIf="!tooltipType">
    {{ 'Tooltip.loading' | translate }}
</ng-container>
<ng-container *ngIf="!!tooltipArgs?.comment">
    <br />
    {{tooltipArgs.comment}}
</ng-container>
<ng-container *ngIf="tooltipType === 999">
    {{tooltipPayload | translate}}
</ng-container>
