@import "../../../../../../styles/global";
@import "../../../../../../styles/buttons";

:host {
    display: block;
}

button {
    width: 100%;
    background: $highlight;
    color: $font_default;

    &:hover {
        background: darken($highlight, 20%);
    }

    &.disabled {
        background: $non_highlight;
        color: #000000;
    }
}
