@import "./../../../../../../../styles/global";

$columnHeight: 50px;

:host {
    display: block;
    width: 100%;

    .headerRow {
        display: flex;
        flex-direction: column;
        max-height: $columnHeight;
        overflow: hidden;

        padding: 0 $spacing / 2;
        width: calc(100% - #{$spacing});

        background: $tdc_darker;
        border-radius: 3px 3px 0 0;

        HeaderTd {
            margin-left: $spacing / 2;
            flex-basis: 100%;

            &:first-child {
                margin: 0;
            }
        }

        :last-child {
            padding-bottom: $spacing / 2;
        }

        .responsiveHeader {
            display: flex;
            flex-direction: row;

            HeaderTd {
                &:first-child {
                    margin-left: $spacing / 2;
                }

                &::ng-deep {
                    div {
                        font-size: 16px;
                    }

                    SortButton {
                        margin-top: 15px;
                        height: 20px;
                    }
                }
            }

            CaretButton {
                margin-right: 0;
            }
        }

        CaretButton {
            margin-top: 10px;
            height: calc(#{$columnHeight} - 20px);
            width: $columnHeight;
            margin-right: $spacing / 2;
        }

        &>BodyTd {
            flex-basis: 100% !important;
        }

        &.isVisible {
            @keyframes openMenu {
                0% { max-height: $columnHeight }
                100% { max-height: 1000px }
            }
            animation: openMenu;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            max-height: none;
        }
    }
}
