<div class="headerRow" [class.isVisible]="isVisible">
    <div class="responsiveHeader">
        <CaretButton (click)="toggleVisibility()"></CaretButton>
        <HeaderTd (filterChanged)="emitFilter(column.filter_name, $event)" (sortChanged)="emitSort(column.filter_name, $event)" [specification]="column" *ngFor="let column of responsiveHeaderColumns"></HeaderTd>
    </div>
    <HeaderTd (filterChanged)="emitFilter(column.filter_name, $event)" (sortChanged)="emitSort(column.filter_name, $event)" [specification]="column" *ngFor="let column of responsiveBodyColumns"></HeaderTd>
</div>

