@import "./../../../../../styles/global";

:host {
    display: block;
    width: 100%;
    border: 1px solid $tdc_accent;
    border-radius: 3px 3px 3px 3px;
    position: relative;

    Minimizer {
        position: absolute;
        height: 14px;
        width: 14px;
        top: 3px;
        right: 3px;
    }

    #rpll_share_button{
        position: absolute;
        height: 25px;
        width: 25px;
        top: 20px;
        right: 5px;
        cursor: pointer;
        z-index: 20;
    }

    .minimized {
        max-height: 50px;
        overflow: hidden;
    }
}
