import {NgModule} from "@angular/core";
import {RouterModule, Routes} from "@angular/router";
import {{{NAME_PASCAL_CASE}}Component} from "./component/{{NAME_SNAKE_CASE_LOWER}}/{{NAME_SNAKE_CASE_LOWER}}";

const routes: Routes = [
    {path: "", component: {{NAME_PASCAL_CASE}}Component}
];

@NgModule({
    imports: [RouterModule.forChild(routes)],
    exports: [RouterModule]
})
export class {{NAME_PASCAL_CASE}}Routing {
}
