<div class="popup_container">
    <div class="popup_title_bar">
        <div>Add preset</div>
        <div class="close_button" (click)="close_widget.next()">X</div>
    </div>
    <div class="popup_content">
        <div class="load_preset_container">
            <label for="preset_select">Load preset:</label>
            <SelectInput id="preset_select" [themed]="true" [options]="load_presets"
                         [(value)]="selected_preset"></SelectInput>
            <div class="popup_button btn btnHighlight" (click)="load_preset()">Load</div>
        </div>
        <div class="input_row">
            <label for="preset_name">Preset name:</label>
            <GeneralInput id="preset_name" type="text" [(value)]="preset_name" placeholderKey="Choose unique name"></GeneralInput>
        </div>
        <div class="input_row">
            <label for="event_types">Event types:</label>
            <MultiSelect id="event_types" [dropdownList]="event_types"
                         [selectedItems]="selected_event_types"
                         placeholder="Select event types..."
                         (selectedItemsChange)="selected_event_types_changed($event)"></MultiSelect>
        </div>
        <div class="input_row">
            <label for="sources">Sources:</label>
            <MultiSelect id="sources" [dropdownList]="sources"
                         [selectedItems]="selected_sources"
                         placeholder="Select sources..."
                         (selectedItemsChange)="selected_sources_changed($event)"></MultiSelect>
        </div>
        <div class="input_row">
            <label for="targets">Targets:</label>
            <MultiSelect id="targets" [dropdownList]="targets"
                         [selectedItems]="selected_targets"
                         placeholder="Select targets..."
                         (selectedItemsChange)="selected_targets_changed($event)"></MultiSelect>
        </div>
        <div class="input_row">
            <label for="abilities">Abilities:</label>
            <MultiSelect id="abilities" [dropdownList]="abilities"
                         [selectedItems]="selected_abilities"
                         placeholder="Select abilities..."
                         (selectedItemsChange)="selected_abilities_changed($event)"></MultiSelect>
        </div>
        <div class="input_row">
            <label for="hit_types">Hit types:</label>
            <MultiSelect id="hit_types" [dropdownList]="hit_types"
                         [selectedItems]="selected_hit_types"
                         placeholder="Select hit types..."
                         (selectedItemsChange)="selected_hit_types_changed($event)"></MultiSelect>
        </div>
        <div class="input_row">
            <div class="save_button popup_button btn btnHighlight" (click)="save_preset()">Save</div>
        </div>
    </div>
</div>
