<header>{{ 'Account.navBar.entries.password' | translate }}</header>

<form (ngSubmit)="on_submit()" formValid ngNativeValidate>
    <PasswordInput [(value)]="password" [formFailure]="formFailure" [required]="true"
                   labelKey="Account.updatePassword.newPassword" name="password"
                   placeholderKey="Account.updatePassword.typePassword"></PasswordInput>
    <ConfirmButton [disabled]="disableSubmit" labelKey="Account.updatePassword.update" type="submit"></ConfirmButton>
</form>
<BriefNote noteKey="Account.updatePassword.updateNote"></BriefNote>
