[client-server]

!includedir /etc/my.cnf.d

[mysqld]
optimizer_search_depth=0
innodb_buffer_pool_size=1GB
innodb_buffer_pool_instances=32
innodb_log_file_size=512MB
max_connections=1000
innodb_file_per_table=1
innodb_compression_level=8
