@import "../../../../../styles/colors";

:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    width: 100%;
    opacity: 1.0;

    div {
        opacity: 0;
        height: 100%;
        width: 50%;
        animation: movingBar 1.5s infinite;
        background-color: $highlight;

        &.show_bar {
            opacity: 1;
        }
    }
}

@keyframes movingBar {
    from {
        margin-left: -20%;
        width: 40%;
    }
    to {
        margin-left: 100%;
        width: 0%;
    }
}
