<div class="header">
    <div>Type</div>
    <div>Count</div>
    <div>%</div>
    <div>Amount</div>
    <div>%</div>
    <div>Min</div>
    <div>Max</div>
    <div>Average</div>
    <div>Resist/Glance</div>
    <div>Block</div>
    <div>Absorb</div>
</div>
<div class="body">
    <div *ngFor="let row of payload">
        <div>{{row[0]}}</div>
        <div>{{row[1].count}}</div>
        <div>{{row[1].count_percent.toFixed(1)}}%</div>
        <div>{{row[1].amount}}</div>
        <div>{{row[1].amount_percent.toFixed(1)}}%</div>
        <div>{{row[1].min}}</div>
        <div>{{row[1].max}}</div>
        <div>{{row[1].average.toFixed(1)}}</div>
        <div>{{row[1].glance_or_resist}}</div>
        <div>{{row[1].block}}</div>
        <div>{{row[1].absorb}}</div>
    </div>
</div>
