<!--<CookieBanner *ngIf="show_cookie_banner" (close_banner)="set_cookie_banner($event)"></CookieBanner>-->
<RouterLoadingBar></RouterLoadingBar>
<NotificationList></NotificationList>
<Tooltip id="global_tooltip"></Tooltip>
<NavigationBar></NavigationBar>
<main>
    <ng-container *ngIf="!enable_ads">
        <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngIf="!isMobile && enable_ads">
        <div id="left_bar" *ngIf="false">
            <div class="vm-placement" data-id="609a80894e3663176463205f"></div>
        </div>
        <div id="center_bar">
            <div id="top_layer" *ngIf="false">
                <div class="vm-placement" data-id="609a80924e36631764632061"></div>
            </div>
            <div id="center_layer">
                <router-outlet></router-outlet>
            </div>
            <div id="bottom_layer">
                <div class="vm-placement" data-id="609a809e4e36631764632063"></div>
            </div>
        </div>
        <div id="right_bar">
            <div class="vm-placement" data-id="609a80894e3663176463205f"></div>
            <div [class.ad_hidden]="!is_on_viewer_site" class="vm-placement" data-id="609a80894e3663176463205f"></div>
        </div>
    </ng-container>
    <ng-container *ngIf="isMobile && enable_ads">
        <div id="center_bar_mobile">
            <div id="top_layer">
                <div class="vm-placement" data-id="609a80ac4e36631764632065"></div>
            </div>
            <div id="center_layer">
                <router-outlet></router-outlet>
            </div>
            <div id="bottom_layer">
                <div class="vm-placement" data-id="609a807e4e3663176463205d"></div>
            </div>
        </div>
        <div id="right_bar">
            <div class="vm-placement" data-id="609a80894e3663176463205f"></div>
        </div>
    </ng-container>
</main>
<FooterBar (consent)="set_cookie_banner(true)"></FooterBar>
