<div class="talent_navbar">
    <SelectInput [(value)]="selected_expansion" [options]="expansions"></SelectInput>
    <SelectInput [(value)]="selected_hero_class" [options]="hero_classes"></SelectInput>
    <span>{{points_spend}}/{{pointsPerExpansion}}</span>
</div>
<div class="talent_container">
    <TalentTab [i_talent_tree]="getTabTree(1)" [tab_label]="getTabLabel(1)"
               [expansion_id]="selected_expansion" (points_changed)="pointsChanged(1, $event)"></TalentTab>
    <TalentTab [i_talent_tree]="getTabTree(2)" [tab_label]="getTabLabel(2)"
               [expansion_id]="selected_expansion" (points_changed)="pointsChanged(2, $event)"></TalentTab>
    <TalentTab [i_talent_tree]="getTabTree(3)" [tab_label]="getTabLabel(3)"
               [expansion_id]="selected_expansion" (points_changed)="pointsChanged(3, $event)"></TalentTab>
</div>
