<div class="mainItem">
    <ng-container *ngIf="!items[0][2]">
        <a (click)="closeNavBar()" [routerLink]="items[0][0]"
           routerLinkActive="active">{{ items[0][1] | translate }}</a>
    </ng-container>
    <ng-container *ngIf="!!items[0][2]">
        <a (click)="closeNavBar()" [attr.href]="items[0][0]" target="_blank">{{ items[0][1] | translate }}</a>
    </ng-container>
    <CaretButton (toggled)="show_sub_menu = $event" [isToggled]="show_sub_menu" *ngIf="items.length > 1"></CaretButton>
</div>
<ul *ngIf="items.length > 1" [class.open]="show_sub_menu">
    <ng-container *ngFor="let item of items.slice(1)">
        <ng-container *ngIf="!item[2]">
            <li><a (click)="closeNavBar()" [routerLink]="item[0]"
                   routerLinkActive="active">{{ item[1] | translate }}</a></li>
        </ng-container>
        <ng-container *ngIf="!!item[2]">
            <li><a (click)="closeNavBar()" [attr.href]="item[0]" target="_blank">{{ item[1] | translate }}</a></li>
        </ng-container>
    </ng-container>
</ul>
