<Table [bodyRows]="body_columns" [headColumns]="header_columns" [clientSide]="clientSide"
       [responsiveHeadColumns]="responsiveHeadColumns" [responsiveModeWidthInPx]="responsiveModeWidthInPx"
       [numItems]="num_characters" unique_id="raids_search"
       (filterOrPageChanged)="onFilter($event)"
       [et_row_items]="[instance_map]">
</Table>

<ng-template #instance_map let-specification="specification" let-content="content">
    <InstanceMap [map_icon]="specification.args.icon" [instance_label]="content"></InstanceMap>
</ng-template>
