@import "../../../../../../../styles/global";

:host {
    display: block;

    .information {
        width: 100%;
        min-height: 40px;
        margin-bottom: $spacing * 0.5;

        div {
            height: 50%;
            line-height: 20px;
        }

        .label {
            font-weight: bold;
        }
    }
}
