<div class="component_title">Guild roster</div>
<Table [bodyRows]="member_body_rows" [headColumns]="member_header_columns"
       [responsiveHeadColumns]="responsiveHeadColumns" [responsiveModeWidthInPx]="responsiveModeWidthInPx"
       unique_id="guild_viewer_member" (share)="tinyUrlService.set_table_filter(7, $event, url_suffix)"
       [et_row_items]="[hero_class, character_name]"></Table>

<ng-template #hero_class let-specification="specification" let-content="content">
    <HeroClass [hero_class_id]="specification.content" [hero_class_label]="content"></HeroClass>
</ng-template>

<ng-template #character_name let-specification="specification" let-content="content">
    <a [showTooltip]="{ type: 1, character_id: specification.args.character_id }"
       routerLink="/armory/character/{{ specification.args.server_name + '/' + specification.content }}">
        {{ content | translate }}
    </a>
</ng-template>
